# Ignore environment variables file
.env

# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore logs
*.log

# Ignore specific directories and files in loan_management_backend
Loan_Management_System/__pycache__/
Loan_Management_System/*/__pycache__/
Loan_Management_System/*/*/__pycache__/
Loan_Management_System/.env